
.k-textbox-container {
    .k-searchbar {
        #b16c481d-ce31-427a-a274-52cbac1bb60f{
            width: 350px;
        }
    }
}
.testClass {
    z-index: 10005 !important;
}
.advanced{
    .k-window{
        .k-window-content{
            .example-config{
                .rightcontent{
                    .right-bottom{
                        .example-wrapper{
                            margin-top: 32px;
                            .k-textbox-container{
                                .k-autocomplete{
                                    margin-top: 20px;
                                    width: 313px !important;
                                }
                            }

                        }
                    }
                }
            }
        }
    }
}
//.k-autocomplete{
//    width: 313px !important;
//}

