*{
  margin: 0;
  padding: 0;
}

.advanced{
  .k-window{
    height: 100vh;
          .k-window-title{
            padding: 15px 1153px 19px 19px;
            height: 20px;
            width: 156px;
            color: #262626;
            font-family: Helvetica;
            font-size: 20px;
            font-weight: 700;
            line-height: 20px;
          }
      .k-window-content{
        height: 665px;
        width: 1328px;
        padding: 0 !important;
        border-bottom: 2px solid #AEAEAE;
          .example-config{
            display: flex;
              .side-bar{
                display: inline-block;
                margin: 19px 49px 18px 19px;
                //border: #11d411 1px solid;
                height: 627px;
                width: 373px;
                background-color: #F4F4F4;
                    .items{
                      .side-content{
                        margin-top: 40px;
                        margin-left: 33px;
                        height: 17px;
                      }
                      .active{
                        background:  #e6e6e6;
                        border: 1px solid grey;
                        width: 223px;
                      }
                      p{
                        //padding-left: 33px;
                        //padding-top: 40px;
                        padding: 19px 19px 19px 19px;
                        width: 267px;
                        opacity: 0.6;
                        color: #000;
                        cursor: pointer;
                        font-family: Helvetica;
                        font-size: 17px;
                        line-height: 17px;
                      }
                    }
                }
          .rightcontent{
            width: 100%;
            .right-bottom{
              overflow-y: hidden;
              overflow-x: hidden;
            }
            .search-div{
              .search-inner{
                display: flex;
              }
              .searchbar {
                border: none;
                outline: none;
                width: 100%;
                //border;
                padding: 0px 0 0px 11px;
                background-color: #F4F4F4;
              }
              img{
                display: inline-block;
                margin: 12px 0 12px 22px;
              }
              margin: 0px 43px 40px 0px;
              display: inline-block;
              height: 40px;
              width: 844px;
              background-color: #F4F4F4;

            }
            .right-bottom{

                .search-page{
                    margin-top: 28.5px;
                    .brand{
                      height: 16px;
                      width: 16px;
                      background-color: #2666E3;
                      margin-right: 19.75px;
                      margin-bottom: 27px;
                    }
                    label{
                      height: 17px;
                      width: 46px;
                      opacity: 0.6;
                      color: #000;
                      font-family: Helvetica;
                      font-size: 17px;
                      line-height: 17px;
                      margin-right: 98.25px;
                    }
                  label:last-child{
                    margin-right: 0;
                  }

                }
              .rang-selector{
                width: 541px;
                height: 146px;
                margin: 65px 0 0 36px;
                .k-slider-horizontal{
                  margin-top: 85px;
                  width: 95% !important;
                }
              }
              .catalog{
                position: relative;
                left: 27px;
                top: 36px;
                .chekbox{
                    width: fit-content;
                    height: 150px;
                    padding-top: 18px;
                    .varstree{
                      margin: 10px 0 10px 0;
                      height: 17px;
                      width: 80px;
                      opacity: 0.6;
                      color: #000;
                      font-family: Helvetica;
                      font-size: 17px;
                      line-height: 17px;
                    }
                  .label1{
                    margin-bottom: 3px;
                    width: 80px;
                    opacity: 0.6;
                    color: #000;
                    font-family: Helvetica;
                    font-size: 17px;
                    line-height: 17px;
                  }
                }
              }
              .availability{
                  .instok{
                    justify-content: center;
                    margin-top: 100px;
                    .stokelabel{
                      height: 17px;
                      width: 46px;
                      margin-right: 20px;
                      opacity: 0.6;
                      color: #000;
                      font-family: Helvetica;
                      font-size: 17px;
                      line-height: 17px;
                    }
                    .stokeradio{
                      height: 16px;
                      width: 16px;
                      margin-right: 7px;
                      background-color: #2666E3;
                    }
                  }
              }
            }
          }

          }
        }
          .k-dialog-titlebar{
            padding: 0;
            height: 54px;
            border-bottom: 1px solid #AEAEAE;
          }

    .k-window-actions{
      .k-button{
        .k-i-window-minimize{
          display: none !important;
        }
        .k-i-window-maximize{
          display: none !important;
        }
      }
    }
  }
  .k-actions{
    display: flex;
    justify-items: right;
    align-items: center;
    padding: 0 !important;
    height: 65px;
    .k-primary{
      margin: 13px 34px 14px 20px;
      justify-items: right;
      align-items: center;
      height: 38px;
      width: 140px;
      border-radius: 4px;
      background-color: #2666E3;
    }
  }
}

