.drawer-content {
  padding: 30px;

  .search-bar {
    height: 20px;
    .search-input {
      display: flex !important;
      img {
        margin-top: 10px;
        margin-right: 15px;
        margin-left: 10px;
        width: 18px !important;
        height: 18px !important;
      }
    }

    padding: 5px 5px;
    background-color: #f7f7f7;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .close-icon {
      cursor: pointer;
      width: 18px;
      height: 18px;
    }
  }

  .available-column {
    border-bottom: 1px solid #b7b5b5;
    border-top: 1px solid #b7b5b5;
    margin-top: 20px;
    padding: 20px 0;
  }
}